#r29 .jumbotron{
background-image: url("http://s2.r29static.com//bin/entry/ec5/720x900,80/2076411/image.jpg");
background-position: center;
background-size: cover;
color: white;
}
.nav-bar {height: 400px;
}
